.menu-section {
    text-align: center;
    padding: 60px 30px;
  }
  
  .menu-tabs {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
  }
  
  .menu-tabs button {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
    color: #333;
    padding-bottom: 5px;
    position: relative;
  }
  
  .menu-tabs button:hover,
  .menu-tabs .active-tab {
    color: #333;
  }
  
  .menu-tabs .active-tab::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
  }
  
  .menu-title {
    color: gray;
    margin-bottom: 5px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .menu-heading {
    color: #333;
    font-size: 36px;
    margin-bottom: 40px;
    font-family: "Cursive", sans-serif;
  }
  
  .menu-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .menu-card {
    width: 250px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .menu-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }
  
  .menu-card img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .menu-card h4 {
    margin-top: 15px;
    font-size: 20px;
    color: #333;
  }
  
  .menu-card p {
    color: gray;
    margin: 5px 0 10px;
  }
  
  .price {
    font-weight: bold;
    color: #333;
    font-size: 20px;
  }
  
  .menu-section button {
    width: auto;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    margin-top: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .menu-section button:hover {
    background-color: #b30000;
    transform: scale(1.05);
  }
  
  @media screen and (max-width: 768px) {
    .menu-grid {
      gap: 20px;
    }
  
    .menu-card {
      width: 200px;
    }
  
    .menu-heading {
      font-size: 28px;
    }
  }
  