html {
    scroll-behavior: smooth;
  }
  
.hero-section {
    padding: 80px 20px;
    text-align: center;
    
  }
  
  .hero-section h1 {
    font-size: 3rem; /* Makes the welcome title large */
    margin-bottom: 20px;
  }
  
  .hero-section p {
    font-size: 1.5rem; /* Larger subtitle */
    
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
  }
  
/* ANNIMATION */
  .hero-section {
    animation: fadeIn 1.2s ease-in;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  